{% extends 'basic.html' %}


{% block content %}

  <div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto 1.5rem auto;">
      <img src="{{ target_major.image.url }}" alt=""
           style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
      <h2 style="font-family: 'NanumSquareB'">
        {{ target_major.major_name }}
      </h2>
    </div>



    <div>
      {% include 'snippets/list_fragment.html' with subjects_list=object_list %}
    </div>

  </div>

{% endblock %}