.ssogle_logo {
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Rampart One', cursive;
}

.ssogle_footer {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Rampart One', cursive;
}

.ssogle_footer_button {
    text-align: center;
    font-size: .9rem;
}


.ssogle_header {
    text-align: center;
    margin: 0.5rem 0;

}


.h_line {
  background-color: #343A40;
  padding: 1rem;
}


.d_line {
  background-color: #343A40;
  padding: 0.1rem;
}



@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

.ssogle_header_nav {
}

.ssogle_header_navbar {
padding-top:0.5rem;

}

.ssogle_header_searchbar {
  margin: auto;
  width: 27rem;
  padding-top: 0.5rem;

}


